@model DBContext
@{
    
    ViewData["Title"] ="Grazie";
}
<div class="text-center">
    <!-- -->
<div id="menu" class="container">
<a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>

<span>
<ul >

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">   Login</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">   LogOut</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registra">   Registrati</a>
</li>

<!--
<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">   Privacy</a>
</li>
-->

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Prenota">   Prenota</a>
</li>
<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Elenco">   Elenco</a>
</li>

<li >
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Upload">   Upload</a>
</li>
</ul>
</span> 
</button>
</div>
<!-- -->
    <h1 class="display-4">Ecco l'elenco delle persone prenotate!</h1>
    <table class="table table-bordered table-striped table-sm" >
        <thead><tr><th>Nome</th><th>Email</th><th>Data Prenotazione</th></tr></thead>
        <tbody>
            @foreach(Prenotazione p in Model.Prenotazioni)
            {
            <tr><td>@p.Nome</td><td>@p.Email</td><td>@p.DataPrenotazione</td>
            <td>@Html.ActionLink("Cancella","cancella", "Home", new{id=p.PrenotazioneId}, null)</td>
            <td>@Html.ActionLink("Modifica","Modifica",new {Id=p.PrenotazioneId})</td>
            </tr>
            }
        </tbody>
    </table>
</div>